body {
	background: #0F2027;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: lightgrey;
}

 code {
  background-color: darkgrey;
  border-radius: 1px;
  padding: 5px;
  display: block;
  color: black;
  width: 40%;
}

a { color: lightblue; }

a button {
	opacity: 50;
	background-color: rgba(51, 170, 51, 0); 
	border: none;
	transition-duration: 0.1s;
	color: lightblue;
	display: inline;
}

a button:hover {
	background-color: lightblue;
	color: violet;
}

details[open] summary ~ * { animation: sweep_in .5s ease-in-out; }

@keyframes sweep_in {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}

.grid-container {
	display: grid;
	grid-template-columns: 0.8fr 1.2fr 1fr 1fr;
	grid-template-rows: 0.2fr 2.1fr 0.3fr;
	grid-template-areas:
		"Header Header Header Header"
		"Menu Main Main Main"
		"Footer Footer Footer Footer";
}
.Header { grid-area: Header; }
.Main { grid-area: Main; }
.Footer { grid-area: Footer; }
.Menu { grid-area: Menu; }
.Menu button { font-size: 15px; }
